[package]
name = "dash-spv-masternode-processor"
version = "0.4.4"
description = "Library for processing masternodes and quorums (SPV)"

edition = "2021"
build = "build.rs"
publish = false

[features]
default = ["std", "secp-recovery"]
unstable = []
rand = ["secp256k1/rand-std"]
secp-lowmemory = ["secp256k1/lowmemory"]
secp-recovery = ["secp256k1/recovery"]

# At least one of std, no-std must be enabled.
#
# The no-std feature doesn't disable std - you need to turn off the std feature for that by disabling default.
# Instead no-std enables additional features required for this crate to be usable without std.
# As a result, both can be enabled without conflict.
std = ["secp256k1/std", "bitcoin_hashes/std"]
#std = ["secp256k1/std", "bitcoin_hashes/std", "bech32/std"]
#no-std = ["hashbrown", "core2/alloc", "bitcoin_hashes/alloc"]

[dependencies]
byte = "0.2"
libc = "0.2.132"
bitcoin_hashes = { version = "0.11.0", default-features = false }
bitcoinconsensus = { version = "0.19.0-3", optional = true }
blake3 = "1.3.2"
bls-signatures = { git = "https://github.com/dashevo/bls-signatures", rev = "a5589e6", features = ["legacy", "bip32", "apple"]  }
ed25519-dalek = "2.0.0-pre.0"
secp256k1 = { version = "0.26.0", features = [ "recovery", "rand-std", "bitcoin_hashes" ] }
core2 = { version = "0.4.0", optional = true, default-features = false }
rs-x11-hash = "0.1.4"
zeroize = "1.5.7"
bip38 = { git = "https://github.com/pankcuf/bip38", rev = "87abd21" }
log = { version = "0.4.*", features = ["std"] }
simplelog = "0.12.1"
dirs-next = "2.0.0"
[dev-dependencies]
base64 = "0.21.0"
serde = { version = "1.0.144", features = ["derive"] }
serde_json = "1.0.85"
reqwest = { version = "0.11", features = ["blocking", "json"] }

[build-dependencies]
cbindgen = "0.24.3"


[lib]
name = "dash_spv_masternode_processor"
#crate-type = ["staticlib", "cdylib"]

#[profile.release]
#lto = "thin"
#opt-level = 3
#debug = true
